
  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Poppins:wght@600&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.title-area{
  margin-top: 25%;
}
.title-area h5 {
  font-size: 20px;
  color:#fff;
letter-spacing: 2px;
}
.font {
  font-size: 60px;
  letter-spacing: 2px;
}
.text{
  color: #1DA1F3;
  font-size: 80px;
  letter-spacing: 5px;
}
.bg{
  background-color: #001E3D;
 
}
.typing{
  color: #fff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
.title-text{
  color: #fff;
  font-size: 25px !important;
  font-family: 'Poppins', sans-serif;
 
}
.color-font a{
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  margin-right: 25px;
}
.color-font a:hover{
  color: #1DA1F3;
}
